#header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 100%;
    z-index: 10000;
    max-width: 1800px;
    margin:0 auto;
    z-index: 9999;
}
.header__inner {
    display: flex;
    align-items: center;
    height:50px;
    justify-content: space-between;
    padding:10px 10px;
    border-top:2px solid var(--black100);
    border-bottom: 1px solid var(--black100);
}

.header__inner h1 {
    position:absolute;
    left:20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -.5px;
}

.header__inner .to_mail {
    position:absolute;
    right:20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.5px;
    width:70px;
    height:70px;
}

.header__inner .to_project {
    position:absolute;
    left:20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.5px;
    border: 1px solid #000;
    padding: 1px 15px;
    border-radius: 50px;
}

.eye-container {display:flex;position:absolute;left:50%;transform: translateX(-50%);}
.eye {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden; /* 큰 눈 영역 내부의 요소를 잘라냅니다. */
}

.pupil {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    bottom: 0px; /* 큰 눈 안쪽으로 이동 */
    left: 40%;
    transform: translateX(-50%); /* 초기 위치 */
    animation: move-eyes 1.8s infinite alternate;
}

@keyframes move-eyes {
    0% {
        transform: translateX(-35%) translateY(0) rotate(0deg);
    }
    100% {
        transform: translateX(35%) translateY(0) rotate(360deg);
}
}

@media (max-width: 800px){
    .header__nav {
        display: none;
    }
    .header__nav.show {
        display: block;
    }
    .header__nav.show ul {
        display: block;
        position: absolute;
        right: 0;
        top: 68px;
        background-color: rgba(116,99,99,0.1);
        backdrop-filter: blur(15px);
        z-index: 10000;
        min-width: 150px;
        padding: 20px 0;
    }
    .header__nav.show li {
        display: block;
        text-align: right;
    }
    .header__nav.show li a {
        display: inline-block;
        padding: 10px;
    }
    .header__nav.show + .header__nav__mobile span::before {
        width: 20px;
    }
    .header__nav.show + .header__nav__mobile span::after {
        width: 20px;
    }
    .header__nav__mobile {
        display: block;
    }
}