#header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 100%;
    z-index: 10000;
    max-width: 1860px;
    background:#fff;
    padding:0 30px;
    margin:0 auto;
    z-index: 9999;
}
.header__inner {
    display: flex;
    align-items: center;
    height:50px;
    justify-content: space-between;
    padding:10px 10px;
    border-top:2px solid var(--black100);
    border-bottom: 1px solid var(--black100);
}

.header__inner h1 {
    position:absolute;
    left:50px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -.5px;
}

.header__inner .to_mail {
    position:absolute;
    right:50px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.5px;
    width:70px;
    height:70px;
}

.header__inner .to_project {
    position:absolute;
    left:20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.5px;
    border: 1px solid #000;
    padding: 1px 15px;
    border-radius: 50px;
}

.eye-container {display:flex;position:absolute;left:50%;transform: translateX(-50%);}
.eye {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden; /* 큰 눈 영역 내부의 요소를 잘라냅니다. */
}

.pupil {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    bottom: 0px; /* 큰 눈 안쪽으로 이동 */
    left: 40%;
    transform: translateX(-50%); /* 초기 위치 */
    animation: move-eyes 1.8s infinite alternate;
}

@keyframes move-eyes {
    0% {
        transform: translateX(-35%) translateY(0) rotate(0deg);
    }
    100% {
        transform: translateX(35%) translateY(0) rotate(360deg);
}
}

@media (max-width: 767px){
    #header {padding:0 17px;}
    .header__inner h1 {left:20px;font-size: 13px;}
    .header__inner .to_mail {right:20px;width:45px;height:45px;}
}