#intro {
    height: 100vh;
    max-width: 1800px;
    margin:0 auto;
}
.intro__inner {
    position:relative;
    width: 100%;
    height: 100vh;
}

.intro__inner .intro_title_text {
    padding-top:140px;
    font-family: "San Francisco";
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: -7px;
    line-height: 6.3vw;
}
.intro__inner .intro_title_text span  {
    font-weight: 400;
    transform: rotate(-15deg);
    position: relative;
    display: inline-block;
    left: -8px;
}

.intro__inner .myProfile .profile {
    position:absolute;
    right:0;
    bottom:40px;
    width:350px;
    filter:grayscale();
    border-radius: 25px;
    overflow: hidden;
}

.intro__inner .intro_sub_title {
    position:relative;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.intro__inner .intro_sub_txt {
    position:relative;
    margin-top:15px;
    letter-spacing: -.5px;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.6;
}

.intro_text_area {
    position:relative;
    padding-top:30px;
    margin-top:40px;
}
.intro_text_area:before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    display:block;
    width:50px;
    height:2px;
    background:#000;
}
.intro_text_area .emoji {
    margin-bottom: 20px;
}
.intro_text_area .emoji img {
    width:100px
}

.scroll-down span {
    font-size: 40px;
    font-family: "San Francisco";
}
@media (max-width: 800px){
    .intro__inner {
        justify-content: center;
    }
    .intro_lines.bottom .line {
        display: block;
    }
    .intro__text .text {
        font-size: 24px;
    }
}
@media (max-width: 320px){
    .intro__title {
        display: none;
    }
}