#port {
    width: 100%;
    margin-top: 30vh;
    overflow: hidden;
    position: relative;
}

.project_list>li {
    border-top: 1px solid #dbdee1;
}

.project_list>li:last-child {
    border-bottom: 1px solid #dbdee1;
}

.project_list>li>a {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding:20px 0;
    overflow: hidden;
}

.project_list>li .project_name {
    position:relative;
    display:inline-block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -.5px;
}

.project_list>li>a:hover .project_name:before {
    transform: translateX(0%);
}

.project_list>li .project_name:before {
    position:absolute;
    content:'';
    display:block;
    bottom:-4px;
    left:0;
    width:100%;
    height:1px;
    background:#000;
    transition:.2s all;
    
    transform: translateX(-100%);
}

.project_list>li .project_info {
    display:flex;
    margin-top:5px;
    font-size: 18px;
    letter-spacing: -.5px;
    font-weight: 600;
    align-items: center;
}

.project_list>li .project_info span {
    position:relative;
    padding-right: 10px;
    margin-right: 10px;
}

.project_list>li .project_info span:before {
    content:'';
    display:block;
    position:absolute;
    right:-2px;
    top:13px;
    width:4px;
    height:4px;
    background:#111;
    border-radius: 50%;
}

.project_list>li .project_info span:last-child::before {
    display:none;
}

.project_list .project_img {overflow: hidden;border-radius: 20px;}
.project_list .project_img .pc {
    height:320px;
    border-radius: 20px;
    overflow: hidden;
}


@media (max-width: 1400px){
    .project_list .project_img .pc {width:450px;height: auto;}
}

@media (max-width: 1200px){
    #port {margin-top:40px;}
    
}

@media (max-width: 1041px){
    .project_list>li>a {flex-direction: column;align-items: flex-start;justify-content: flex-start;gap:0;}
    .project_list>li>a .project_img {order:1;margin-bottom: 20px;width:100%;}
    .project_list .project_img .pc {width:100%;}
    .project_list>li>a .project_txt {order:2;}

    .project_list>li .project_name {font-size: 20px;;}
    .project_list>li .project_info span {font-size: 15px;padding-right: 5px;margin-right: 5px;}
    .project_list>li .project_info span:before {top:11px;right:-3px;}

}